.hide-on-mobile{
  display: inline;
  visibility: visible;
}

/*********************
HEADER STYLES
*********************/

header.header{
  #logo{
    height:100px;
  }
}








/*********************
NAVIGATION STYLES
*********************/
a#menu-toggle{
	display:none;
}
nav{
  &#nav-header{
    background:$white;
  	color:$grey2;
  	height:auto;
  	z-index: 1;
  	position: relative;
  	left: auto;
  	top:auto;
  	width:100%;
    li{
      border-bottom: none;
      &:not(:last-child){
        border-right: 1px solid $white;
      }
      a{
        color:$grey2;
        padding: 10px 20px;
      }
      &.current-menu-item{
        a{
          background:$grey8;
        }
      }
      &.menu-item-has-children{
        /* It's probabaly best to just hide sub nav and link straihght to the top level page. Y
        You can show the child pages there on mobiles. */
        position: relative;
        ul.sub-menu{
          display:none;
          background:$grey7;
          position: absolute;
          top:100%;
          left:0;
          li{
            width:100%;
          }
        }
        &:hover{
          ul.sub-menu{
            display:block;
          }
        }
      }
    }
  }
  &#nav-footer{
    a {
      @include font-size(1.2); 
    }
  }
  @include font-size(0); // Fighting the space betwen inline-block items
  li {
    display:inline-block;
    vertical-align: top;
    a {
      @include font-size(1.4); // !!Important. Must have a size set here because of inlineblock spacing bug above
    }
  }
}








/*********************
HERO
*********************/

.hero-container{
  min-height: 400px;
  width:100%;
}
.video-wrapper{
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  &.playing{
    
  }
  iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}








/*********************
WIDGETS
*********************/
div#footer-asides{
  display: flex;
  aside{
    background:$grey5;
    color:$grey3;
    border-bottom: none;
    &:not(:last-child){
      border-right: 1px solid $grey4;
    }
    .widgettitle{
      color:$white;
    }
  }
}