/*********************
HEADER STYLES
*********************/

.header {}

#logo {}

/*********************
NAVIGATION STYLES
*********************/
a#menu-toggle{
	display:none;
}
nav{
  &#nav-header{
    background:$white;
  	color:$grey2;
  	height:auto;
  	z-index: 1;
  	position: relative;
  	left: auto;
  	top:auto;
  	width:100%;
  }
	.nav {
	  @include font-size(0); // Fighting the space betwen inline-block items
	  li {
	    display:inline-block;
      vertical-align: top;
	    a {
	      @include font-size(1.4); // !!Important. Must have a size set here because of inlineblock spacing bug above
	    }
	  }
	  &#menu-nav-header{
	    li{
        border-bottom: none;
	      &:not(:last-child){
	        border-right: 1px solid $white;
	      }
	      a{
          color:$grey2;
	        padding: 10px 20px;
	      }
	    } 
	  }
	}
}



/*********************
WIDGETS
*********************/
div#footer-asides{
  display: flex;
  aside{
    background:$grey5;
    color:$grey3;
    border-bottom: none;
    &:not(:last-child){
      border-right: 1px solid $grey4;
    }
    .widgettitle{
      color:$white;
    }
  }
}