*, *:before, *:after {
  box-sizing: border-box;
}

.group:after { // (.clearfix)
  content: "";
  display: table;
  clear: both;
}

html,
body{
	height:100%;
}
body{
	background:$grey7;
}
div#wrapper {
	width: 100%;
	min-height:100%;
	margin: 0 auto;
	transition: transform 0.2s ease-out;


	/* =========
	Responsive slide out menu 
	============ */
	&.slide-left{
		transform: translateX(-80%);
		nav#main-nav{
			transform: translateX(100%);
		}
		a#menu-toggle{
			span{
				height:0;
			}
			span:before{
				transform: rotate(45deg);
				top: -2px
			}
  		span:after{
  			transform: rotate(-45deg);
  			bottom: -2px;
  		}
		}
	}
}
header.header,
div#content,
footer.footer{

}
.header {
  background:$white;
  text-align: center;
	padding: 20px;
	width: 100%;
}

#logo {
  background: url('../images/logo.gif') no-repeat 50% 50%;
  background-size: contain;
  text-indent: -9999px;
  width:220px;
  height:100px;
  display: block;
  margin: auto;
}

footer.footer {
	background: $grey6;
	color:$grey4;
	clear: both;
	text-align: center;
	a{
		color:$grey2;
	}
}
div#content{
	clear:both;
}
.pad{
	padding: 20px;
}
.page{
	max-width:100%;
}
article{
	&.post{
		border-bottom: 1px solid $grey1;
		padding-bottom: 20px;
		margin-bottom: 20px;
	}
}

div#main {
	ul, ol{
		padding-left:40px;
		li{
			margin-bottom: 5px;
		}
	}
	ul{
		li{
			list-style: disc;
		}
	}
	ol{
		li{
			list-style: decimal;
		}
	}
}
.sidebar{
	background: $grey1;
	height:100%;
}
aside{
	width:100%;
	clear:both;
}
div#footer-asides{
	clear:both;
	aside{
		background:$grey5;
		color:$grey3;
		border-bottom: 1px solid $grey4;
		.widgettitle{
			color:$white;
		}
	}
}

.alignleft, img.alignleft { 
	margin-right: 1.5em; 
	display: inline; 
	float: left; 
}
.alignright, img.alignright { 
	margin-left: 1.5em; 
	display: inline; 
	float: right; 
}
.aligncenter, img.aligncenter { 
	margin-right: auto; 
	margin-left: auto; 
	display: block; 
	clear: both; 
}

/*********************
FORM STYLES
*********************/

form{
  fieldset{
    clear:both;
  }
  label{
    clear:both;
    display:block;
    width:100%;
    &.display-inline{
      clear:none;
      display: inline-block;
      width:auto;
    }
  }
  input{
    clear:left;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"],
  textarea{
    border: none;
    -webkit-appearance:none; // remove shadow
    border-radius: 0;
    font-family:$font-body;
    font-weight:200;
    width:100%;
    max-width:100%;
    padding:10px;
    margin:10px 0 20px;
    @include font-size(1.6);
    color:$grey4;
    &::-webkit-input-placeholder {
      color:$grey3;
    }
    &::-moz-placeholder {  
       color:$grey3; 
    }
    &:-ms-input-placeholder {  
       color:$grey3;  
    }
  }
  input[type="submit"],
  input[type="button"]{
    background: $color-primary;
    border-radius: 2px;
    padding: 10px 20px;
    border:none;
    -webkit-appearance:none; // remove shadow
    float:right;
    font-family:$font-header;
    @include font-size(1.4);
    color:#fff;
    clear:both;
  }
}
