/**************************************
HERO
**************************************/

.hero-container{
  min-height: 440px;
  overflow: hidden;
  position: relative;
  &.artist-slider  {
    min-height: 400px;
  }
}
.hero{
  position: absolute;
  display: block;
  top:0;
  left:0;
  text-align: center;
  height:100%;
  width: 100%;
  transition: opacity 1s ease;
  &#youtube-mask{
    background-size: cover;
    background-position: 50% 50%;
  }
}
picture{
  max-width: 100%;
  img{
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
  }
}
picture,
source,
picture img{
  text-align: center;
  min-height:100%;
  min-width:100%;
  height: auto;
  width:auto;
  max-width: none;
}
.no-flexbox .hero{
  display: block;
}

.slide{
  &.current{
    z-index: 10;
  }
  &.no-image{
    background: $grey8;
    text-align: center;
    display: flex;
    display: flex;
    align-content: center;
    justify-content: center;
    img{
      align-self: center;
    }
  }
}
a.slider-nav{
  display: none;
}

// VIDEO
.video-wrapper{
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  &.playing{
    
  }
  iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.video-wrapper{
  #play-pause{
    position: absolute;
    @include font-size(2);
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
    transition: opacity 0.2s ease-in;
    &.hidden{
      opacity:0;
    }
  }
}