html,
body{
  height:100%;
}
body{
  background: $grey8;
}

img{
  max-width:100%;
  height:auto;
}
section{
  clear: both;
}
.inner{
  width:1400px;
  max-width:100%;
  margin: 0 auto;
  clear: left;
}
.row{
  clear: both;
}
.full-height{
  height: 100%;
}
.hide{
  display: none !important;
}
.hide-on-mobile{
  display: none;
}
.flex{
  display: flex;
  flex-wrap: wrap;
}
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-column{
  flex-direction: column;
  flex: 1;
}
.flex-row{
  flex-direction: row;
  flex: 1;
}


.bg-light{
  background:$grey8;
}
.bg-dark{
  background:$grey2;
}
.bg-white{
  background:$white;
}

// FLOATS
.clear{
  clear: both;
}
.pull-left{
  float: left !important;
}
.pull-right{
  float: right !important;
}
.pull-center{
  margin-left:auto;
  margin-right: auto;
}

// TEXT ALIGNMENT
.text-left{
  text-align:left;
}
.text-right{
  text-align:right;
}
.text-center{
  text-align:center;
}

// IMAGE ALIGNMENT
.alignleft, img.alignleft { 
  margin-right: 1.5em; 
  display: inline; 
  float: left; 
}
.alignright, img.alignright { 
  margin-left: 1.5em; 
  display: inline; 
  float: right; 
}
.aligncenter, img.aligncenter { 
  margin-right: auto; 
  margin-left: auto; 
  display: block; 
  clear: both; 
}
.pad{
  padding: $padding $padding $padding $padding;
}

// BORDERS
.border-top{
  border-top: 1px solid $grey6;
}
.border-right{
  border-right: 1px solid $grey6;
}
.border-bottom{
  border-bottom: 1px solid $grey6;
}
.border-left{
  border-left: 1px solid $grey6;
}


// THUMBNAILS
.thumbnail{
  float:left;
  position: relative;
}

// ANIMATIONS
.shaking{
  animation: shake 0.6s linear infinite 0s;
}


/*********************
GRID
*********************/
.col6-sm{
  width: 50%;
  position: relative;
  float: left;
}




/*********************
ELEMENTS
*********************/

header.header,
footer.footer{
  background:$grey3;
  padding: 10px;
}
header.header{
  background:$white;
  text-align: center;
  padding: 10px $padding;
  width: 100%;
  position: relative;
  z-index: 10;
  #logo{
    background: url('../images/logo.gif') no-repeat 50% 50%;
    background-size: contain;
    text-indent: -9999px;
    width:220px;
    height:100px;
    max-height: 100%;
    display: block;
    margin: auto;
    img{
      max-width: 100%;
      height: auto;
    }
  }
}
footer.footer{
  clear: both;
  text-align: center;
  min-height:140px; // Should be equal to #content padding-bottom to keep it at the bottom of page 
  // (should be just height, not sure about using min-height...)
  // Below is necesary to kee it at bottom 
  // see: http://cssreset.com/how-to-keep-footer-at-bottom-of-page-with-css/
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  a{
    color:$grey2;
  }
}


div#wrapper {
  width: 100%;
  min-height:100%;
  margin: 0 auto;
  transition: transform 0.2s ease-out;
  position: relative;
}

#content{
  background:$grey8;
  display: flex;
  flex-direction: column;
  clear:both;
  position: relative;
  padding-bottom: 140px;
}

.sidebar{
  background: $grey7;
  height:100%;
}
aside{
  width:100%;
  clear:both;
}
