// COLOURS

$color-primary: #6ED0E1;
$color-secondary: darken($color-primary, 20);
$color-tertiary: #07778E;

$color-link: $color-primary;
$color-link-hover: lighten($color-link, 7);

$white: #FFF;
$black: #000;

$grey1:     #111;
$grey2:     #222;
$grey3:     #373737;
$grey4:     #555;
$grey5:     #6E6E6E;
$grey6:     #CCC;
$grey7:     #E8E8E8;
$grey8:     #F5F5F5;


$color-message: #ede3a9;
$success-color: #8cc048;
$error-color: #e65f5f;


// FONTS

$font-header: 'Open Sans', sans-serif;
$font-body: 'Open Sans', sans-serif;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$line-height-body: 1.5;
$line-height-header: 1.5;

$letter-spacing-body: 1.2px;
$letter-spacing-header: 0;

// PADDING
$padding: 30px;
$padding-half: 15px;



@mixin font-size($sizeValue: 1.6){
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem; 
  //font-size: ($sizeValue * 0.7) + vw;
}

@mixin line-height($sizeValue: 1.6){
  line-height: ($sizeValue*1.33)*10 + px;
  line-height: $sizeValue*1.33 + rem;
}