/******************************************************************
Site Name: 
Author: 

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/*
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't 
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
*/
/* import mixins */
/******************************************************************
Site Name:
Author:

Stylesheet: Grid Stylesheet

I've seperated the grid so you can swap it out easily. It's
called at the top the style.scss stylesheet.

There are a ton of grid solutions out there. You should definitely
experiment with your own. Here are some recommendations:

http://gridsetapp.com - Love this site. Responsive Grids made easy.
http://susy.oddbird.net/ - Grids using Compass. Very elegant.
http://gridpak.com/ - Create your own responsive grid.

The grid below is a combination of the 1140 grid and Twitter Boostrap. 
I liked 1140 but Boostrap's grid was way more detailed so I merged them 
together, let's see how this works out. If you want to use 1140, the original 
values are commented out on each line.

******************************************************************/
/*************************
BIG MARGIN
**************************/
/*
.col1    { width: 5.801104972%;  }   
.col2    { width: 14.364640883%; } 
.col3  { width: 22.928176794%; }  
.col4   { width: 31.491712705%; }
.col5   { width: 40.055248616%; }
.col6    { width: 48.618784527%; }   
.col7  { width: 57.182320438000005%; } 
.col8  { width: 65.74585634900001%; } 
.col9   { width: 74.30939226%; }  
.col10    { width: 82.87292817100001%; }
.col11 { width: 91.436464082%; }
.col12 { width: 99.999999993%; } 

// layout & column defaults
[class^="col"], [class*=" col"] {
  position: relative;
  float: left;
  margin-right: 2.762430939%;
}

.last {
  float: right;
  margin-right: 0;
}
*/
/*************************
SMALL MARGIN
**************************/
/*
.col1    { width: 7.33333%;  }    
.col2    { width: 15.6666666667%; }   
.col3    { width: 24%; }  
.col4    { width: 32.333333%; }  
.col5    { width: 40.6666666667%; } 
.col6    { width: 49%; }  
.col7    { width: 57.33333337%; }
.col8    { width: 65.666666667%; } 
.col9    { width: 74%; } 
.col10   { width: 82.3333333%; }  
.col11   { width: 90.96666667%; }  
.col12   { width: 100%; } 

// layout & column defaults
[class^="col"], [class*=" col"] {
  position: relative;
  float: left;
  margin-right: 1%
}

.last {
  margin-right:0;
  &.col1    { width: 8.33333%;  }    
  &.col2    { width: 16.6666666667%; }   
  &.col3    { width: 25%; }  
  &.col4    { width: 33.333333%; }  
  &.col5    { width: 41.6666666667%; } 
  &.col6    { width: 50%; }  
  &.col7    { width: 58.33333337%; }
  &.col8    { width: 66.666666667%; } 
  &.col9    { width: 75%; } 
  &.col10   { width: 83.3333333%; }  
  &.col11   { width: 91.96666667%; }  
  &.col12   { width: 100%; } 
}
*/
/*************************
NO MARGIN
**************************/
/* line 103, ../scss/_grid.scss */
.col1 {
  width: 8.33333%;
}

/* line 104, ../scss/_grid.scss */
.col2 {
  width: 16.6666666667%;
}

/* line 105, ../scss/_grid.scss */
.col3 {
  width: 25%;
}

/* line 106, ../scss/_grid.scss */
.col4 {
  width: 33.333333%;
}

/* line 107, ../scss/_grid.scss */
.col5 {
  width: 41.6666666667%;
}

/* line 108, ../scss/_grid.scss */
.col6 {
  width: 50%;
}

/* line 109, ../scss/_grid.scss */
.col7 {
  width: 58.33333337%;
}

/* line 110, ../scss/_grid.scss */
.col8 {
  width: 66.666666667%;
}

/* line 111, ../scss/_grid.scss */
.col9 {
  width: 75%;
}

/* line 112, ../scss/_grid.scss */
.col10 {
  width: 83.3333333%;
}

/* line 113, ../scss/_grid.scss */
.col11 {
  width: 91.96666667%;
}

/* line 114, ../scss/_grid.scss */
.col12 {
  width: 100%;
}

/* line 117, ../scss/_grid.scss */
[class^="col"], [class*=" col"] {
  position: relative;
  float: left;
}

/* line 125, ../scss/_grid.scss */
.last {
  float: right;
}

/*********************
HEADER STYLES
*********************/
/*********************
NAVIGATION STYLES
*********************/
/* line 12, ../scss/_768up.scss */
a#menu-toggle {
  display: none;
}

/* line 16, ../scss/_768up.scss */
nav#nav-header {
  background: #FFF;
  color: #222;
  height: auto;
  z-index: 1;
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
}
/* line 26, ../scss/_768up.scss */
nav .nav {
  font-size: 0px;
  font-size: 0rem;
}
/* line 28, ../scss/_768up.scss */
nav .nav li {
  display: inline-block;
  vertical-align: top;
}
/* line 31, ../scss/_768up.scss */
nav .nav li a {
  font-size: 14px;
  font-size: 1.4rem;
}
/* line 36, ../scss/_768up.scss */
nav .nav#menu-nav-header li {
  border-bottom: none;
}
/* line 38, ../scss/_768up.scss */
nav .nav#menu-nav-header li:not(:last-child) {
  border-right: 1px solid #FFF;
}
/* line 41, ../scss/_768up.scss */
nav .nav#menu-nav-header li a {
  color: #222;
  padding: 10px 20px;
}

/*********************
WIDGETS
*********************/
/* line 55, ../scss/_768up.scss */
div#footer-asides {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
/* line 57, ../scss/_768up.scss */
div#footer-asides aside {
  background: #6E6E6E;
  color: #373737;
  border-bottom: none;
}
/* line 61, ../scss/_768up.scss */
div#footer-asides aside:not(:last-child) {
  border-right: 1px solid #555;
}
/* line 64, ../scss/_768up.scss */
div#footer-asides aside .widgettitle {
  color: #FFF;
}

/******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/
/* line 17, ../scss/_1030up.scss */
body.scrolled header.header a#logo {
  left: 0;
  padding: 10px;
  position: fixed;
  top: 0;
  z-index: 2;
}
/* line 23, ../scss/_1030up.scss */
body.scrolled header.header a#logo h1 {
  font-size: 20px;
  font-size: 2rem;
  line-height: 2rem;
}
/* line 29, ../scss/_1030up.scss */
body.scrolled nav#main-nav {
  position: fixed;
  top: 0;
}
/* line 33, ../scss/_1030up.scss */
body.scrolled div#content {
  margin-top: 100px;
}

/* 
you can call the larger styles if you want, but there's really no need 
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
